/* Stile per la tabella dei materiali */
#materialTable {
    margin-top: 20px;
}

#materialTable th {
    background-color: #007bff; /* Colore di intestazione blu */
    color: white;
}

#materialTable tbody tr:hover {
    background-color: #f1f1f1; /* Sfondo grigio chiaro al passaggio del mouse */
}

/* Stile per i bottoni */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Stile per il footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

/* Stile per il modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer {
    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}